@import "../../../styles.scss";
table {
    width: 100%;
}

.example-form {
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

.container-table {
    padding: 10px;
    margin: 5px;
}

.form-buttons {
    display: flex;
    -webkit-box-align: center;
    align-items: flex-end;
    justify-content: flex-end;
}

.form-buttons button {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 4px;
    margin-right: 4px;
    display: flex;
    align-content: flex-end;
}

.btn_check {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: $violeta;
    .mat-icon {
        color: $white;
    }
}

.actions {
    display: flex;
    margin-right: 70px;
    margin-top: 5px;
    .button-group {
        padding: 5px;
        margin-bottom: 5px;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

.actions-principal {
    display: flex;
    margin-right: 70px;
    margin-top: 5px;
    align-items: flex-end;
    justify-content: flex-end;
    .button-group-principal {
        padding: 5px;
        margin-bottom: 5px;
    }
}